@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Pacifico&family=Sora:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  min-height: 100vh;
  background: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
  width: 250px;
  height: 250px;
  background: hsla(0, 0%, 100%, 0.7);
  color: #6d59bd;
}

.login-container h1 {
  display: flex;
  align-items: center;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
}

button {
  cursor: pointer;
}

.login-container svg {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  stroke: #6d59bd;
  stroke-width: 3px;
}

.login-page button {
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  outline: none;
  padding: 0 15px;
  height: 40px;
  background: #907fd5;
  color: #fff;
  font-size: 15px;
}

.login-page button:hover,
.login-page button:active {
  background: #8370d0;
}

.header-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 0 30px;
  width: 100%;
  height: 70px;
  background: hsla(0, 0%, 100%, 0.7);
  color: #6d59bd;
}

.header-container h1 {
  display: flex;
  align-items: center;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
}

.header-container h1 svg {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  stroke: #6d59bd;
  stroke-width: 3px;
}

.dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 40px;
  padding: 5px 20px;
  cursor: pointer;
}

.dropdown-container:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: rgba(172, 172, 172, 0.3);
}

.dropdown-container figure {
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.dropdown-container img {
  width: 100%;
  height: auto;
}

.arrow-button svg {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  stroke: #7b99d1;
  stroke-width: 30px;
}

.panel {
  position: absolute;
  top: 53px;
  right: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: #f5f5f5;
}

.hide {
  display: none;
}

.panel div {
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  color: #000501;
}

.panel div:hover {
  color: #907fd5;
  transition: color 0.5s ease-out;
}

.panel svg {
  vertical-align: middle;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  color: #6d59bd;
  stroke: #6d59bd;
}

.panel-name svg {
  stroke-width: 40px;
}

.panel-email svg {
  stroke-width: 0;
}

.panel-logout svg {
  stroke-width: 4px;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0 50px;
}

.input-form input {
  border: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 0 20px;
  width: 490px;
  height: 50px;
  font-size: 16px;
}

.input-form button {
  border: none;
  border-radius: 0 25px 25px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, #fdfcfb 0%, #e2d1c3 100%);
}

.input-form button:hover {
  background: linear-gradient(to right, #fdfcfb 0%, #e2d1c3 100%);
}

.input-form svg {
  width: 20px;
  height: 20px;
}

.todo-list-outer-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.todo-list-container {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: rgba(256, 256, 256, 0.7);
  background-blend-mode: multiply;
  font-size: 16px;
}

.todo-list-header {
  position: relative;
  display: flex;
  text-align: center;
}

.todo-list-header > p {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 180px;
  height: 60px;
  line-height: 60px;
  color: #373f51;
  cursor: pointer;
}

.todo-list-header > p::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: #6d59bd;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.todo-list-header > p:hover {
  color: #907fd5;
  transition: color 0.5s ease-out;
}

p.active {
  font-weight: bold;
  color: #6d59bd;
}

p.active::after {
  transform: scaleX(1);
  transform-origin: center;
}

.todo-count {
  text-align: center;
  padding: 20px;
  color: #7c869c;
}

.todo-count span:first-child {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  margin-right: 10px;
  width: 30px;
  height: 20px;
  line-height: 20px;
  background: #b7aaea;
  font-size: 12px;
  color: #ffffff;
}

.todo-item-container {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: #c2c0c0 1px solid;
  padding: 20px;
}

.todo-item-container:last-child {
  border-bottom: none;
}

.todo-item-container button {
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: none;
  color: #858585;
}

.todo-item-container button:first-child {
  color: #000501;
}

.todo-item-container svg {
  width: 16px;
  height: 16px;
}

.is-completed .content {
  text-decoration: line-through;
  text-decoration-color: #5a6885;
  color: #7c869c;
}

.content {
  width: 400px;
  color: #000501;
  word-wrap: break-word;
}

.edit-form {
  position: relative;
}

.edit-form input {
  border: 0px;
  outline: none;
  width: 360px;
  height: 20px;
  background: none;
  font-size: 16px;
  text-decoration: underline;
  color: #ef626c;
}

.edit-form button {
  position: absolute;
  right: -15px;
  bottom: 0;
  color: #ef626c;
  animation-name: move;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.error-container {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 50px 20px;
  width: 600px;
  background: hsla(0, 0%, 100%, 0.7);
  background-blend-mode: multiply;
}

.error-container h1 {
  height: 120px;
  line-height: 120px;
  background: -webkit-linear-gradient(-225deg, #a8bfff 0%, #907fd5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 120px;
  font-weight: 800;
  font-family: 'Sora', sans-serif;
}

.error-container h3 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Sora', sans-serif;
}

.error-container p {
  margin-bottom: 20px;
  padding: 0 80px;
  line-height: 1.5;
}

.error-container button {
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  outline: none;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  background: #907fd5;
  color: #fff;
  font-size: 15px;
}

.error-container button:hover,
.error-container button:active {
  background: #8370d0;
}

.error-container button svg {
  margin-right: 3px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

@keyframes move {
  from {
    bottom: -8px;
  }
  to {
    bottom: 0;
  }
}

.skeleton {
  background: #a5a5a5;
  animation: skeleton-animation 2s infinite ease-in-out;
}

@keyframes skeleton-animation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

@media (max-width: 550px) {
  .input-form input {
    width: 370px;
  }

  .todo-list-header > p {
    width: 140px;
  }

  .content {
    width: 270px;
  }
}

@media (max-width: 320px) {
  .input-form input {
    width: 250px;
  }

  .todo-list-header > p {
    width: 100px;
  }

  .content {
    width: 160px;
  }
}
